body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}
.flexCentre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.decorationNone {
  text-decoration: none;
}
.sizeLien {
  width: 140px;
  height: 99px;
}
.colorLien2 {
  color: black;
}
.flexColumnCentre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexColumnAround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flexColumnBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bordureNone {
  border: none;
}
