#texte{
    display: flex;
    justify-content: RIGHT;
    align-items: RIGHT;
    margin-left: 60;
    margin-right: 60;

}


.header{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}




  .clic
  {
    color: #0065fc;
    border-bottom: 3px;

  }
  
  body {
    font-family: "Raleway";

}

.encadrer-un-contenu{ 
    border: 1px solid black; 
    padding: 5px; 

    
}

.bouton { 
    border-style: none;
    border-top-width: thick;
    border-right-width: thick;
    border-bottom-width: thick;
    border-left-width: thick;

}


.barre-recherche {
    display:flex;

  }
 
  
span {
 
 padding:3px;
 border-radius: 30px;
 background-color: #0065fc;
 }


